@model ML.Departamento
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>Lista de Departamentos</h2>
</div>
<hr />
<div class="text-center">
    <a class="btn btn-success" href="@Url.Action("Form", "Departamento", new {idDepartamento = 0})">
        Nuevo Departamento
    </a>

</div>
<br />

@if (Model.Departamentos != null)
{
    <div class="row">
        @foreach (ML.Departamento departamento in Model.Departamentos)
        {
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://5.imimg.com/data5/SELLER/Default/2022/6/UV/HI/FG/47586912/software-development-it-consultant-500x500.jpg"
                             class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">@departamento.DescDepartamento</h5>
                            <hr />
                            <p>
                                <a href="@Url.Action("Form", "Departamento", new {idDepartamento = departamento.IdDepartamento})" class="btn btn-outline-warning">
                                    Editar <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </p>
                            <p>
                                <a href="@Url.Action("Delete", "Departamento", new {idDepartamento = departamento.IdDepartamento})"
                                   onclick="return confirm('Estas seguro que deseas eliminar el Departamento?');"
                                   class="btn btn-outline-danger">
                                    Eliminar <i class="fa-solid fa-delete-left"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
        Aun no tiene departamentos
    </div>
}